<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="RunnerName" value="StockGrabberService"/>
  <variable name="BaseLogDir" value="L:/BabelServices"/>
  <variable name="BaseLogDirArchive" value="L:/BabelServices/Archive"/>
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${time} ${level:uppercase=true} ${message} ${exception:format=tostring}" />

    <target name="debugFile" xsi:type="File"
            layout="${longdate} ${logger} ${level:uppercase=true} ${message} ${exception:format=tostring}"
            fileName="${BaseLogDir}/Debug/${RunnerName}.txt"
            archiveFileName="${BaseLogDirArchive}/Debug/${RunnerName}.{#####}.txt"
            archiveAboveSize="10240000"
            archiveNumbering="Sequence"
            keepFileOpen="true"
            maxArchiveFiles="7" />

    <target name="infoFile" xsi:type="File"
            layout="${longdate} ${logger} ${level:uppercase=true} ${message} ${exception:format=tostring}"
            fileName="${BaseLogDir}/Info/${RunnerName}.txt"
            archiveFileName="${BaseLogDirArchive}/Info/${RunnerName}.{#####}.txt"
            archiveAboveSize="10240000"
            archiveNumbering="Sequence"
            keepFileOpen="true"
            maxArchiveFiles="1" />

    <target name="errorFile" xsi:type="File"
        layout="${longdate} ${logger} ${level:uppercase=true} ${message} ${exception:format=tostring}"
        fileName="${BaseLogDir}/Error/${RunnerName}.txt"
        archiveFileName="${BaseLogDirArchive}/Error/${RunnerName}.{#####}.txt"
        archiveAboveSize="10240000"
        archiveNumbering="Sequence"
        keepFileOpen="true"
        maxArchiveFiles="7" />

    <target name="splunkFile" xsi:type="File"
         layout="${logger} ${level:uppercase=true} ${message} ${exception:format=tostring}"
         fileName="${BaseLogDir}/Splunk/${RunnerName}.txt"
         archiveFileName="${BaseLogDirArchive}/Splunk/${RunnerName}.{#####}.txt"
         archiveAboveSize="10240000"
         archiveNumbering="Sequence"
         keepFileOpen="true"
         maxArchiveFiles="7" />


  </targets>
  <rules>
    <logger name="*splunk*" minlevel="DEBUG" writeto="splunkFile" final="true" />
    <logger name="*" minlevel="debug" writeTo="console" />
    <logger name="*" minlevel="INFO" writeTo="infoFile" />
    <logger name="*" minlevel="DEBUG" writeTo="debugFile" />
    <logger name="*" minlevel="ERROR" writeTo="errorFile" />
  </rules>
</nlog>